html{
    height: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px; 
    padding: 10px; 
    background-color: rgba(7, 7, 7, 0.884);
    color: #fff; 
    
    
  }
  
  header {
    background-color: #0e4649c9;
    color: rgb(17, 17, 17);
    align-items: center;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff; 
  }
  /* main logo image*/
  .img-logo {
    max-width: 20%;
    height: auto;
    display: flex;
  justify-content: center;
  }
  
  
  
  nav{
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 999;
  }
  
  nav ul{
  margin-right: 40px;
  }
  
  nav li {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #111;
    padding-top: 20px;
    color: white;
    transition: left 0.5s;
  }
  
  nav a {
    padding: 15px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: color 0.3s;
  }

  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;/
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons a {
    color: white; 
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #5ba2e9
  }
  

  h4{
    color: #E73E09;
  }
  
  .linkscards:hover{
    transform: scale(1.1);
  }
  */
  /*image size to be small*/
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 55%;
    width: 55%;
  }

  .mySlides {
    display: none;
    height: auto;
    width: 100%;

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slide{
  text-align: center;
}





/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}



div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

/* Basic styling for the form */

.container {
  max-width: 500px;
  margin: 0 auto; /* to place the container in the center  */
  padding: 5px;
  border: 1px solid #dbd8d8e7; /* White border around the form */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(228, 226, 226, 0.964); /* white shadow in the background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 22px); /* Adjusting width for border */
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #7b7878;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

input[type="submit"],
input[type="button"] {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #000000c9;
}


.intro-box {
  max-width: 600px; /* Adjust the maximum width of the box */
  margin: 0 auto; /* Center the box horizontally */
  padding: 20px; /* Add padding around the content */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 10px; /* Add rounded corners */
background-color: #333; /* Add a background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.intro-box p {
  margin-bottom: 15px; /* Add spacing between paragraphs */
}


h5, h2{
  font-family: "Century Gothic", serif;
}

h3 {
  font-family: "Century Gothic", serif;
  text-align: center;
}
